@model List<BlogDataModel>

@{
    int count = 0;
}

<h3>
    Hello, This is new Blog Index!
</h3>
<p>@Model.Count</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BlogDataModel item in Model)
        {
            <tr>
                <th scope="row">@(++count)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
            </tr>
        }
    </tbody>
</table>