@model List<AtmDataModel>
@{
    ViewData["Title"] = "Atm Index";
    int count = 0;
    string message = null;
    bool isSuccess = false;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    }
}

<h3>ATM Users</h3>

<h1>
    <a href="/atm/create" type="button" class="btn btn-success">Create</a>
</h1>

@if (message != null)
{
    <div class="alert alert-@(isSuccess ? "success":"danger")" role="alert">
        @message
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">CardId</th>
            <th scope="col">CardNum</th>
            <th scope="col">CardPin</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(++count)</th>
                <td>@item.CardId</td>
                <td>@item.CardNum</td>
                <td>@item.CardPin</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Balance</td>
            </tr>
        }
    </tbody>
</table>
