@model BlogDataResponseModel

@{
    ViewData["Title"] = "Blog Index";
    string message = null;
    bool isSuccess = false;
    if (TempData["Message"] != null)
    {
        message = TempData["Message"].ToString();
        isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
    }
    int pageNo = Model.PageSetting.PageNo;
    int pageSize = Model.PageSetting.PageSize;
    int pageCount = Model.PageSetting.PageCount;
    string url = Model.PageSetting.PageUrl;
    int count = (pageNo - 1) * pageSize;
}

@if (message is not null)
{
    <div class="alert alert-@(isSuccess ? "success":"danger")" role="alert">
        @message
    </div>
}

<div class="d-flex justify-content-between my-3">
    <h3>
        <label class="fw-bold">Blog List</label>
    </h3>
    <div>
        <a href="/blogajax/create" class="btn btn-primary">
            Create
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Content</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blogs)
        {
            <tr>
                <th scope="row">@(++count)</th>
                <td>@item.Blog_Title</td>
                <td>@item.Blog_Author</td>
                <td>@item.Blog_Content</td>
                <td>
                    <a class="btn btn-warning" href="/blogajax/edit/@item.Blog_Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger btnDelete" data-blog-id="@item.Blog_Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@* pagination using partial view *@
@await Html.PartialAsync("_Pagination", Model.PageSetting);

@section scripts {
    <script>
        $('#btnDelete').click(function () {
            var _reqModel = {
                Blog_Id: $(this).data('blog_id'),
            }
            confirmMessage("Are U Sure U Wanna Delete?").then((result) => {
                if (!result) return;
                $ajax({
                    url: "/blogajax/delete",
                    type: "POST",
                    data:
                    {
                        reqModel: _reqModel
                    },
                    success: function (data) {
                        showMessage(data, '/blogajax/list');
                    },
                    error: function (request, status, error) {
                        console.log({ request, status, error });
                    }
                });
            });
        });
    </script>
}